*{
    margin: 0;
    font-family: 'Quicksand', sans-serif;    
}
body{
    background-color: #e9ecef;
}
/* ---------header start------- */
header {
    width: 100%;    
    z-index: 100;
  }
  #upper {
    background-color: #e9ecef;
    height: 60px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .box1,
  .box2,
  .box3 {
    width: 200px;
    height: 50px;
  }
  .box1 > img {
    width: 100%;
    color: grey;    
  }
  #ip {
    width: 600px;
    height: 50px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 20px;
    padding-left: 20px;
  }
  .form > input:nth-child(2) {
    height: 50px;
    width: 90px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: -10px;
  }
  .box2,
  .box3 {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box2 img {
    width: 20px;
    height: 20px;
  }
  .box2 p {
    color: black;
  }
  .box3 img {
    width: 20px;
    height: 20px;
  }
  .box3 {
    justify-content: space-around;
}

/* Lower */
header{
    position: fixed;
    top: 100px;
    width: 100%;    
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
#nav{
    width: 100%;
    height: 40px;    
    display: flex;    
}
#nav>img{
width: 10%;
}
#nav>form>input{
    height: 100%;
}

#navbar>ul{
    overflow: auto;
      
}
#navbar>ul>li{
    float: left;
    list-style: none; 
    margin: 20px 10px;
    display: block;
    font-size: 14PX;
    
}
#navbar>ul>li>a{
    padding: 0px 10px;
    text-decoration: none;
    color: black;
}
#navbar>ul>li>a:hover{
  font-weight: bold;
}
.dd1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    list-style: none;    
    position: absolute;
    top: 60px;
    display: none;
    line-height: 30px;
    background-color: white; 
}
.dd1>li{
    margin-left: -20px;
    margin-right: 60px;
    font-size: 12PX;
}
#navbar>ul>li:hover .dd1{
    display: block;
}
/* ---------header end------- */

/* -------------image style-----/ */
#topImg{
    width: 100%;
    margin-top: 80px;
    height: 200px;
    background-image: url("https://d32baadbbpueqt.cloudfront.net/Collection/39da2bc6-d83c-4350-a2b1-0c0ec7a721a8.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(50px);
    
}
#img1{
    width: 80%;
    height: 100%;
    display: block;
    margin: auto;
    position: relative;
    margin-top: -140px;    
    background-color: rgba(0, 0, 0, 0.35);
}
/* -------------image style-----/ */
/* <!-- --------sort filter start-------- --> */

#opr{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#opr i{
    margin-right: 5px;
}
#home{
    display: flex;
    font-size: 16px;
    margin-left: 100px;
}
#home2{
    display: flex;
    margin-right: 100px;
}
#home2>div{
    margin: 0px 20px;
}
#filt{
    width: 150px;
    height: 30px;
    padding: 2x;
    background-color: #e9ecef;
    border: none;
}
#srt{
    width: 150px;
    height: 30px;
    padding: 2x;
    background-color: #e9ecef;
    border: none;    
}
#totCnt{
    margin-left: 100px;
    margin-bottom: 20px;
}
#mainProd{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin-bottom: 20px;
}
#mainProd img{
    width: 100%;
    height: 300px;
}
#mainProd>div{
    font-size: 14px;    
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#mainProd button{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    margin-top: 10px;
}
#mainProd p{
    margin-top: 10px;
}
#mainProd>div>p:nth-child(2){
    font-weight: bold;
}
/* <!-- --------sort filter end-------- --> */
/* --------- Footer start------- */
#footer {
    width: 100%;
    height: auto;
    background-color: black;
    padding-bottom: 5px;
  }
  #footer > img {
    width: 8%;
    display: block;
    margin: auto;
  }
  #media {
    width: 26%;
    margin: auto;
    margin-bottom: 30px;
  }
  #media > i {
    margin: 20px;
    color: white;
  }
  #bigger {
    width: 90%;
    border-bottom: 2px solid grey;
    margin: auto;
    line-height: 40px;
    padding: 0 30px;
  }
  #bigger > div {
    margin-bottom: 20px;
  }
  .ip2 {
    width: 250px;
    background-color: black;
  }
  #form2 > input {
    height: 40px;
    padding: -10px;
    font-size: 15px;
    border: none;
    color: rgb(190, 190, 190);
    border-bottom: 2px solid white;
  }
  #form2 > input:nth-child(2) {
    width: 70px;
    color: white;
    background-color: #f82caa;
    border: none;
    border-radius: 5px;
  }
  .stores {
    display: flex;
  }
  .stores > img {
    height: auto;
    width: 60px;
    margin: 0 8px;
  }
  
  .stage1 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stage1 > div > p {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .stores > div > p {
    color: rgb(190, 190, 190);
  }
  .stage2 > div {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .stage2 > p,
  .stage3 > p {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .info > div {
    color: rgb(190, 190, 190);
  }
  .stage3 {
    width: 100%;
  }
  .cont {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
  
    color: rgb(190, 190, 190);
  }
  .cont > div > p:nth-child(1),
  .stage3 > p {
    color: white;
    font-weight: bold;
  }
  .copy {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
/* ---------footer end------- */



