*{
    margin: 0;
    font-family: 'Quicksand', sans-serif;    
}
body{
    background-color: #e9ecef;
}
/* ---------header start------- */
header {
    width: 100%;    
    z-index: 100;
  }
  #upper {
    background-color: #e9ecef;
    height: 60px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .box1,
  .box2,
  .box3 {
    width: 200px;
    height: 50px;
  }
  .box1 > img {
    width: 100%;
    color: grey;    
  }
  #ip {
    width: 600px;
    height: 50px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 20px;
    padding-left: 20px;
  }
  .form > input:nth-child(2) {
    height: 50px;
    width: 90px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: -10px;
  }
  .box2,
  .box3 {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box2 img {
    width: 20px;
    height: 20px;
  }
  .box2 p {
    color: black;
  }
  .box3 img {
    width: 20px;
    height: 20px;
  }
  .box3 {
    justify-content: space-around;
}

/* Lower */
header{
    position: fixed;
    top: 100px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    height: auto;
    background-color: white;
    
}
#nav{
    width: 100%;
    height: 40px;    
    display: flex;
}
#nav>img{
width: 10%;
}
#nav>form>input{
    height: 100%;
}

#navbar>ul{
    overflow: auto;
      
}
#navbar>ul>li{
    float: left;
    list-style: none; 
    margin: 20px 10px;
    display: block;
    font-size: 14PX;
    
}
#navbar>ul>li>a{
    padding: 0px 10px;
    text-decoration: none;
    color: black;
}
#navbar>ul>li>a:hover{
  font-weight: bold;
}
.dd1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    list-style: none;    
    position: absolute;
    top: 60px;
    display: none;
    line-height: 30px;
    background-color: white; 
}
.dd1>li{
    margin-left: -20px;
    margin-right: 60px;
    font-size: 12PX;
}
#navbar>ul>li:hover .dd1{
    display: block;
}
/* ---------header end------- */
/* -------------content :start----------- */
.allP {
    text-align: center;
    font-size: 35px;
    margin-top: 140px;
    margin-bottom: 20px;
    
  }
  #offerCard{
    width: 97%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 10px;
  }
  #offerCard img{
    width: 100%;
    border-radius: 5px;
  }
/* -------------content :end----------- */

/* --------- Footer start------- */
#footer {
    width: 100%;
    height: auto;
    background-color: black;
    padding-bottom: 5px;
  }
  #footer > img {
    width: 8%;
    display: block;
    margin: auto;
  }
  #media {
    width: 13%;
    margin: auto;
    margin-bottom: 30px;  
  }
  #media > i {  
    margin: 5px;
    color: white;
  }
  #bigger {
    width: 90%;
    border-bottom: 2px solid grey;
    margin: auto;
    line-height: 40px;
    padding: 0 30px;
  }
  #bigger > div {
    margin-bottom: 20px;
  }
  .ip2 {
    width: 250px;
    background-color: black;
  }
  #form2 > input {
    height: 40px;
    padding: -10px;
    font-size: 15px;
    border: none;
    color: rgb(190, 190, 190);
    border-bottom: 2px solid white;
  }
  #form2 > input:nth-child(2) {
    width: 70px;
    color: white;
    background-color: #f82caa;
    border: none;
    border-radius: 5px;
  }
  .stores {
    display: flex;
  }
  .stores > img {
    height: auto;
    width: 60px;
    margin: 0 8px;
  }
  
  .stage1 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stage1 > div > p {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .stores > div > p {
    color: rgb(190, 190, 190);
  }
  .stage2 > div {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .stage2 > p,
  .stage3 > p {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .info > div {
    color: rgb(190, 190, 190);
  }
  .stage3 {
    width: 100%;
  }
  .cont {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
  
    color: rgb(190, 190, 190);
  }
  .cont > div > p:nth-child(1),
  .stage3 > p {
    color: white;
    font-weight: bold;
  }
  .copy {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
/* ---------footer end------- */


@media all and (min-width:781px) and (max-width:1145px) {
    /* ----------------header----------- */
        #upper{
            width: 100%;
            line-height: 30px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        }
        .box1{
            width:150px;
            
        }
        .form{
            width: 10%;
            display: flex;
            margin-left: -50px;
        }
        #ip{
            width: 200px;
            height: 40px;
            
        }
        .form > input:nth-child(2){
            width: 50px;
            height: 40px;
            font-size: 10px
        }
        .box2{
            font-size: 15px;
            margin-left: 150px;
        }
        .box2 img{
            width: 15px;
            height: 15px;
        }
        .box3{
            
            margin-right: 50px;
            display: flex;
            justify-content: space-around;
    
        }
        .box3 img{
            width: 15px;
            height: 15px;
        }
        header{
            width: 100%;
            position: fixed;
            top: 70px;
        }
        /* ----------------header end----------- */
            #offerCard{
                grid-template-columns: repeat(2,1fr);
            }
            .allP{
                margin-top: 110px;
            }
    
    /* ---------------- footer start----------- */
    
    #footer{
        width: 100%;
    }
    #media{
      width: 20%;  
      margin: auto;    
  }
    #media i{
        margin: 5px;
        width: 10px;
        height: 10px;
    }
    #bigger{
        width: 90%;
    }
    .stage1{
        width: 100%;
        font-size: 10px;
    }
    .stage2{
        width: 100%;
        font-size: 10px;
    }
    .stage3{
        width: 100%;
        font-size: 10px;
    }
    .copy{
        font-size: 15px;
    }
    /* ---------------- footer end----------- */
      }
    
    
      @media all and (min-width:380px) and (max-width:780px) {
        #offerCard{
            grid-template-columns: repeat(1,1fr);
        }
        .allP{
            margin-top: 50px;
        }
        /* ----header start--- */
        #upper>*{
            display: none;
        }
        #upper{
            background-color: black;
            width: 100%;
            height: 30px;
        }
        header{
            display: none;
        }
        /* --------header end---------- */
        #footer>*{
            display: none;
        }
      }